body{
    background-image: url('sunnyleaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-primary{
    height:30px !important;
    width: 100px !important; 
    font-size: larger;
}
.card{
  margin: 50px 30px 50px 30px; 
    padding: 10px;
    font-size: larger;
}
.card-text{
    font-size: larger;
}
.enjoy{
    font-size: larger;
}